@use "../../app.scss" as *;

.particles-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// Ensure content is above particles
*:not(.particles-bg) {
    position: relative;
    z-index: 1;
}